@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'gilroy';
  src: url('../public/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
*{
  font-family: 'gilroy';

}
